@import "tailwindcss";

@theme {
  --font-header: "Montserrat", Arial, sans-serif;

  --color-primary: #2563eb;
  --color-bg-header: #fff;
  --color-bg-primary: #f2f4f7;
  --color-light: #fff;
  --color-link: #274dea;
  --color-link-hover: #10288c;
  --color-link-active: #0f778c;
  --color-error: var(--color-red-600);
}

:root {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--color-bg-primary);
  color: #333;
}
